doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Laboratory work №1
        link(rel="stylesheet" href="./style.css")
    body
        header(class = "header")
            h1 Лабораторная работа №1. Методы неинформированного (слепого) поиска.
        hr
        - var values = new Array(9).fill(0).map((item, index) => index + 1);
        
        .statesBeginEnd
            h3 Начальное состояние
            table
                tr 
                    td 5
                    td 8
                    td 3
                tr 
                    td 4
                    td#emptyBlock 9
                    td 2
                tr 
                    td 7
                    td 6
                    td 1 
            br
            h3 Конечное состояние
            table
                tr 
                    td 1
                    td 2
                    td 3
                tr 
                    td 4
                    td 5
                    td 6
                tr 
                    td 7
                    td 8
                    td#emptyBlock 9
        .page
            h2 Игра "Пятнашки"
            .fifteen#fifteen
                each val in values
                    button.item(data-matrix-id=val)= val
            .algorithms
                h3 Выбор алгоритма
                input(type="radio", name="algorithms", value="0", checked)
                | Поиск (сначала) в глубину 
                br
                input(type="radio", name="algorithms", value="1")
                | Поиск (сначала) в ширину
            button.buttonAuto#buttonAuto Автоматический запуск
            button.buttonStep#buttonStep Один шаг
            button.buttonReset#buttonReset Сброс в начальное состояние
        .textarea
            textarea(readonly)#outWindow
        script(src="./index.js")